* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f7fa; /* soft clean background */
}

.container {
    width: 90%;
    max-width: 500px;
    background-color: #ffffff; /* clean white container */
    justify-content: center;
    padding: 5px;
    border: 3px solid #d0d7de; /* light gray border */
    border-radius: 20px;
}

.heading {
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    color: #2c3e50;
}

.btns {
    margin-top:2rem;
    justify-content: center;
    display: flex;
    gap: 1.5rem;
    height: 2rem;
}

#add_income_btn {
    border-radius: 10px;
    background-color: #28a016; /* teal-ish green */
    color: #ffffff;
    width:150px;
}

#add_income_btn:hover {
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 1px 0px 2px;
}

#add_expense_btn {
    border-radius: 10px;
    background-color: #e91111; /* modern red */
    color: #ffffff;
    width:150px;
}

#add_expense_btn:hover {
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 1px 0px 2px;
}

#total_amount {
    text-align: center;
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: bold;
    color: #2c3e50;
}
#description,#amount,#option{
    width:100%;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}
#reset{
    width:150px;
    font-size: 1.5rem;
    color:white;
    background-color: rgb(36, 36, 238);
    border-radius: 10px;
}
#reset:hover {
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 1px 0px 2px;
}